*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}

/* .sidebar i{
  font-size:;
} */

.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 50px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size:28px;
  line-height:28px;
  padding-top:10px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #fff;
  height: 150vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.home-section .home-content i{
  position:fixed;
}

.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  position: relative;
  left:50px;
  font-size: 35px;
  font-weight: 600;
  
}
@media (max-width: 480px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}
  

/* add income button */
.button {
  position: relative;
  Margin-top: 0%;
  Margin-left: 82%;
  Display: flex;
  Height: 50px;
  /* width:130px; */
  Padding: 0;
  background-color:#004680;
  Border: none;
  Outline: none;
  Border-radius: 20px;
  Overflow: hidden;
  Font-family: “poppins”, sans-serif;
  Font-size: 16px;
  Font-weight: 500;
  Cursor: pointer;
}

.button:hover {
  border-radius:20px;
  -webkit-box-shadow: 0px 10px 13px -7px  #000000, -1px 10px 17px 9px rgba(0,0,0,0.16); 
box-shadow: 0px 10px 13px -7px   #000000, -1px 10px 17px 9px rgba(0,0,0,0.16);

}
.button__icon, .button__text:hover{
  color: #004680;
}

.button:active {
  background: #f2f5f8;
}

.button__text,
.button__icon {
  Display: inline-flex;
  Align-items: center;
  Padding: 0 24px;
  Color: #fff;
  Height: 100%;
}

.button__icon {
  Font-size: 2px;
  Background: rgba(0, 0, 0, 0.08);
}
.button__icon .bx{

  font-size: 25px;
  color: white;

}

.container{
  width: 100%;
}
.main{
  margin: 15px;
  width: 70%;
  height: 400px;
  position: relative;
  left: 15%
}
.sub{
  display: flex;
  justify-content: space-around;
  margin: 40px;
  height: 150px;
  text-align: center;
}
.bx{
  font-size: 100px;
  color: #004680;
}
.icons span{
  display: block;
  font-weight: bold;
}

h3{
  position: relative;
  margin-left: 17%;
}
.icons{
  border: 1px solid rgb(197, 193, 193);
  border-radius: 20px;
  margin: 10px;
  height: 160px;
  width: 200px;
  background-color: #f2f5f8;

}
.icons:hover{
box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .1);
transform: scale(1.1);
}

.Table  
{  
  position: relative;
  left: 15%;
  width: 70%;
  display: table;  
  margin: 20px;
}    
.Heading  
{  
  background-color: rgba(0, 31, 88, 0.781);
  display: table-row;  
  font-weight: bold;  
  font-size: 1.2rem;
  text-align: center; 
  color: #E4E9F7; 
}  
.Row  
{  
  text-align: center;
  display: table-row;  
  height: 35px;
  padding:0px;
  padding-top: 3px;
  background-color: #f2f5f8;
  

}  
.Cell  
{  
  width: 100px;
  display: table-cell;   
  padding-left: 5px;  
  padding-right: 5px;  
  box-shadow: 1px 2px 2px 1px rgba(158, 158, 189, 0.2);
  align-items: center;

}
.Cell p{
  padding-top: 19px;
}

/* media query */

@media( max-width: 650px){
  .addbutton{
    position: relative;
    left: -45%;
  }
  .button {
    Margin-top: 0%;
    Margin-left: 80%;
    Display: flex;
    Height: 50px;
    Padding: 0;
    background-color:#004680;
    Border: none;
    Outline: none;
    Border-radius: 5px;
    Overflow: hidden;
    Font-family: “Quicksand”, sans-serif;
    Font-size: 16px;
    Font-weight: 500;
    Cursor: pointer;
  }
  .main{
    margin: 15px;
    width: 90%;
    height: 400px;
    position: relative;
    left: 1%;
  }
  .sub{
    display: inline-block;
    margin: 40px;
    height: 150px;
    text-align: center;
    
    
  }
  h3{
    position: relative;
    margin-left: 10%;
    margin-top: 90px;
  }
  .Heading{
    font-size: 15px;
  }
  .tables{
    height: 400px;
    position: relative;
    margin-top: 20px;
    font-size: 14px;
  }
  .Table{  
  position: relative;
  left: 5%;
  width: 70%;
  display: table;  
  margin: 20px;
  right: 5%;
  }
  .icons{
      width: 100px;
      height: 80px;
      margin-top: 25px;
  }
  .bx{
      font-size: 40px;
  }
  .icons span{
      font-size: 10px;
  }
}

@media(max-width: 530px){
  .addbutton{
    position: relative;
    left: -28%;
  }
  .button{
    width: 170px;
  }
  .main{
    margin: 15px;
    width: 130%;
    height: 300px;
    position: relative;
    left: 1%;
  }
  .sub{
    flex: block;
    display: inline-block;
    margin: 40px;
    height: 150px;
    text-align: center;
    
  }
  h3{
    position: relative;
    margin-left: 19%;
    margin-top: 200px;
  }
  .Heading{
    font-size: 13px;
  }
  .tables{
    height: 300px;
    position: relative;
    margin-top: 20px;
    font-size: 13px;
  }
  .Table{  
  position: relative;
  left: 5%;
  width: 80%;
  display: table;  
  margin-top: 30px;
  margin-left: 40px;
  right: 5%;
  }
  .icons{
      width: 100px;
      height: 80px;
      margin-top: 25px;
  }
  .bx{
      font-size: 40px;
  }
  .icons span{
      font-size: 10px;
  }
}


/* ADD Income HTML*/

.addincome .bx{
  font-size: 40px;
}
.addincome{
  position: relative;
  margin-top: 5%;
  margin-left: 30%;
  width: 450px;
  height: 380px;
  padding-left: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 2px 1px rgba(255, 255, 255, 0.1);
  background-color: #e1e5e9;
  border-radius: 10px;
}
.row{
  align-items: center;
  padding-top: 20px;
  font-size: 17px;
  color: #004680;
  width: 90%;

}
.savebutton{
  margin-top: 30px;

}
.savebutton button{
  background-color: #004680;
  color: #ffffff;
  width: 100px;
  border-radius: 25px;
}
.tab{
  width: 90%;
}



@media( max-width: 650px){
.addincome{
  position: relative;
  margin-top: 6%;
  margin-left: 10%;
  width: 350px;
  height: 320px;
  padding-left: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 2px 1px rgba(255, 255, 255, 0.1);
  background-color: #e1e5e9;
  border-radius: 4px;
}
}

